.custom-select{
    position: relative;
    display:inline-block;
    background-color:#F2F4F2;


    .select-option{
        display: inline-block;
        width: 690px;
        background-color:#F2F4F2;
        border-radius: 10px;
        border: none;
        outline: none;
        padding:10px;
        font-size: 10px;
        appearance: none;
    }




}


.custom-select::after{
    content: "";
    position:absolute;
    top:50%;
    right:10px;
    pointer-events: none;
    
}

